name: Load citations

on: [push]

#on:
#  schedule:
#    - cron: '7 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ads
    - name: Load_citations
      env:
        SECRET_GITHUB_TOKEN: ${{ secrets.SECRET_GITHUB_TOKEN }}
        ads_config_token: ${{ secrets.ads_config_token }}
      run: |
        python bot.py
    - name: Commit files
      run: |
        git config --local user.email "michael@jaekle.info"
        git config --local user.name "hippke"
        git add .
        git add --all
        # git commit -m "Add changes" -a
        git diff --quiet && git diff --staged --quiet || git commit -am 'Add changes'
    - name: Push
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: master
